html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.cv-slim,.cv-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.cv-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.cv-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
.cv-image{max-width:100%;height:auto}
.cv-table,.cv-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.cv-table-all{border:1px solid #ccc}
.cv-bordered tr,.cv-table-all tr{border-bottom:1px solid #ddd}
.cv-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.cv-table-all tr:nth-child(odd){background-color:#fff}
.cv-table-all tr:nth-child(even){background-color:#f1f1f1}
.cv-hoverable tbody tr:hover,.cv-ul.cv-hoverable li:hover{background-color:#ccc}
.cv-centered tr th,.cv-centered tr td{text-align:center}
.cv-table td,.cv-table th,.cv-table-all td,.cv-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.cv-table th:first-child,.cv-table td:first-child,.cv-table-all th:first-child,.cv-table-all td:first-child{padding-left:16px}
.cv-btn,.cv-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.cv-btn:hover,.cv-btn-block:hover,.cv-btn-floating:hover,.cv-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.cv-btn,.cv-btn-floating,.cv-btn-floating-large,.cv-closenav,.cv-opennav,.cv-btn-block{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.cv-btn-floating,.cv-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.cv-btn-floating{width:40px;height:40px;line-height:40px}.cv-btn-floating-large{width:56px;height:56px;line-height:56px}
.cv-disabled,.cv-btn:disabled,.cv-btn-floating:disabled,.cv-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.cv-btn.cv-disabled *,.cv-btn-block.cv-disabled,.cv-btn-floating.cv-disabled *,.cv-btn:disabled *,.cv-btn-floating:disabled *{pointer-events:none}
.cv-btn.cv-disabled:hover,.cv-btn-block.cv-disabled:hover,.cv-btn:disabled:hover,.cv-btn-floating.cv-disabled:hover,.cv-btn-floating:disabled:hover,
.cv-btn-floating-large.cv-disabled:hover,.cv-btn-floating-large:disabled:hover{box-shadow:none}
.cv-btn-group .cv-btn{float:left}.cv-btn-block{width:100%}
.cv-btn-bar .cv-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.cv-btn-bar .cv-btn:hover{background-color:#ccc}
.cv-badge,.cv-tag,.cv-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.cv-badge{border-radius:50%}
ul.cv-ul{list-style-type:none;padding:0;margin:0}ul.cv-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}ul.cv-ul li:last-child{border-bottom:none}
.cv-tooltip,.cv-display-container{position:relative}.cv-tooltip .cv-text{display:none}.cv-tooltip:hover .cv-text{display:inline-block}
.cv-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.cv-navbar li{float:left}.cv-navbar li a,.cv-navitem,.cv-navbar li .cv-btn,.cv-navbar li .cv-input{display:block;padding:8px 16px}.cv-navbar li .cv-btn,.cv-navbar li .cv-input{border:none;outline:none;width:100%}
.cv-navbar li a:hover{color:#000;background-color:#ccc}
.cv-navbar .cv-dropdown-hover,.cv-navbar .cv-dropdown-click{position:static}
.cv-navbar .cv-dropdown-hover:hover,.cv-navbar .cv-dropdown-hover:first-child,.cv-navbar .cv-dropdown-click:hover{background-color:#ccc;color:#000}
.cv-navbar a,.cv-topnav a,.cv-sidenav a,.cv-dropdown-content a,.cv-accordion-content a,.cv-dropnav a{text-decoration:none!important}
.cv-navbar .cv-opennav.cv-right{float:right!important}.cv-topnav{padding:8px 8px}
.cv-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .25s;transition:border-bottom .25s}
.cv-topnav a:hover{border-bottom:3px solid #fff}.cv-topnav .cv-dropdown-hover a{border-bottom:0}
.cv-opennav,.cv-closenav{color:inherit}.cv-opennav:hover,.cv-closenav:hover{cursor:pointer;opacity:0.8}
.cv-btn,.cv-btn-floating,.cv-dropnav a,.cv-btn-floating-large,.cv-btn-block, .cv-navbar a,.cv-sidenav a,.cv-pagination li a,.cv-hoverable tbody tr,.cv-hoverable li,
.cv-accordion-content a,.cv-dropdown-content a,.cv-dropdown-click:hover,.cv-dropdown-hover:hover,.cv-opennav,.cv-closenav,.cv-closebtn,*[class*="cv-hover-"]
{-webkit-transition:background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;transition:background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s}
.cv-ripple:active{opacity:0.5}.cv-ripple{-webkit-transition:opacity 0s;transition:opacity 0s}
.cv-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.cv-sidenav a{padding:4px 2px 4px 16px}.cv-sidenav a:hover{background-color:#ccc}.cv-sidenav a,.cv-dropnav a{display:block}
.cv-sidenav .cv-dropdown-hover:hover,.cv-sidenav .cv-dropdown-hover:first-child,.cv-sidenav .cv-dropdown-click:hover,.cv-dropnav a:hover{background-color:#ccc;color:#000}
.cv-sidenav .cv-dropdown-hover,.cv-sidenav .cv-dropdown-click {width:100%}.cv-sidenav .cv-dropdown-hover .cv-dropdown-content,.cv-sidenav .cv-dropdown-click .cv-dropdown-content{min-width:100%}
.cv-main,#main{transition:margin-left .4s}
.cv-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.cv-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.cv-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.cv-closebtn:hover,.cv-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.cv-pagination{display:inline-block;padding:0;margin:0}.cv-pagination li{display:inline}
.cv-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.cv-pagination li a:hover{background-color:#ccc}
.cv-input-group,.cv-group{margin-top:24px;margin-bottom:24px}
.cv-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}
.cv-label{color:#009688}.cv-input:not(:valid)~.cv-validate{color:#f44336}
.cv-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.cv-select select:focus{color:#000;border:1px solid #009688}.cv-select option[disabled]{color:#009688}
.cv-dropdown-click,.cv-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.cv-dropdown-hover:hover .cv-dropdown-content{display:block;z-index:1}
.cv-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.cv-dropdown-content a{padding:6px 16px;display:block}
.cv-dropdown-content a:hover{background-color:#ccc}
.cv-accordion {width:100%;cursor:pointer}
.cv-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.cv-accordion-content a{padding:6px 16px;display:block}.cv-accordion-content a:hover{background-color:#ccc}
.cv-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.cv-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].cv-check,input[type=radio].cv-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].cv-check:checked+.cv-validate,input[type=radio].cv-radio:checked+.cv-validate{color:#009688} 
input[type=checkbox].cv-check:disabled+.cv-validate,input[type=radio].cv-radio:disabled+.cv-validate{color:#aaa}
.cv-responsive{overflow-x:auto}
.cv-container:after,.cv-panel:after,.cv-row:after,.cv-row-padding:after,.cv-topnav:after,.cv-clear:after,.cv-btn-group:before,.cv-btn-group:after,.cv-btn-bar:before,.cv-btn-bar:after
{content:"";display:table;clear:both}
.cv-col,.cv-half,.cv-third,.cv-twothird,.cv-threequarter,.cv-quarter{float:left;width:100%}
.cv-col.s1{width:8.33333%}
.cv-col.s2{width:16.66666%}
.cv-col.s3{width:24.99999%}
.cv-col.s4{width:33.33333%}
.cv-col.s5{width:41.66666%}
.cv-col.s6{width:49.99999%}
.cv-col.s7{width:58.33333%}
.cv-col.s8{width:66.66666%}
.cv-col.s9{width:74.99999%}
.cv-col.s10{width:83.33333%}
.cv-col.s11{width:91.66666%}
.cv-col.s12,.cv-half,.cv-third,.cv-twothird,.cv-threequarter,.cv-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.cv-col.m1{width:8.33333%}
.cv-col.m2{width:16.66666%}
.cv-col.m3,.cv-quarter{width:24.99999%}
.cv-col.m4,.cv-third{width:33.33333%}
.cv-col.m5{width:41.66666%}
.cv-col.m6,.cv-half{width:49.99999%}
.cv-col.m7{width:58.33333%}
.cv-col.m8,.cv-twothird{width:66.66666%}
.cv-col.m9,.cv-threequarter{width:74.99999%}
.cv-col.m10{width:83.33333%}
.cv-col.m11{width:91.66666%}
.cv-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.cv-col.l1{width:8.33333%}
.cv-col.l2{width:16.66666%}
.cv-col.l3,.cv-quarter{width:24.99999%}
.cv-col.l4,.cv-third{width:33.33333%}
.cv-col.l5{width:41.66666%}
.cv-col.l6,.cv-half{width:49.99999%}
.cv-col.l7{width:58.33333%}
.cv-col.l8,.cv-twothird{width:66.66666%}
.cv-col.l9,.cv-threequarter{width:74.99999%}
.cv-col.l10{width:83.33333%}
.cv-col.l11{width:91.66666%}
.cv-col.l12{width:99.99999%}}
.cv-content{max-width:980px;margin:auto}
.cv-rest{overflow:hidden}
.cv-hide{display:none!important}.cv-show-block,.cv-show{display:block!important}.cv-show-inline-block{display:inline-block!important}
@media (max-width:600px){.cv-modal-content{margin:0 10px;width:auto!important}.cv-modal{padding-top:30px}}
@media (max-width:768px){.cv-modal-content{width:500px}.cv-modal{padding-top:50px}}
@media (min-width:993px){.cv-modal-content{width:900px}}
@media screen and (max-width:600px){.cv-topnav a{display:block}.cv-navbar li:not(.cv-opennav){float:none;width:100%!important}.cv-navbar li.cv-right{float:none!important}}	
@media screen and (max-width:600px){.cv-topnav .cv-dropdown-hover .cv-dropdown-content,.cv-navbar .cv-dropdown-click .cv-dropdown-content,.cv-navbar .cv-dropdown-hover .cv-dropdown-content{position:relative}}	
@media screen and (max-width:600px){.cv-topnav,.cv-navbar{text-align:center}}
@media (max-width:600px){.cv-hide-small{display:none!important}}
@media (max-width:992px) and (min-width:601px){.cv-hide-medium{display:none!important}}
@media (min-width:993px){.cv-hide-large{display:none!important}}
@media screen and (max-width:992px){.cv-sidenav.cv-collapse{display:none}.cv-main{margin-left:0!important;margin-right:0!important}}
@media screen and (min-width:993px){.cv-sidenav.cv-collapse{display:block!important}}
.cv-top,.cv-bottom{position:fixed;width:100%;z-index:1}.cv-top{top:0}.cv-bottom{bottom:0}
.cv-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.cv-left{float:left!important}.cv-right{float:right!important}
.cv-tiny{font-size:10px!important}.cv-small{font-size:12px!important}
.cv-medium{font-size:15px!important}.cv-large{font-size:18px!important}
.cv-xlarge{font-size:24px!important}.cv-xxlarge{font-size:36px!important}
.cv-xxxlarge{font-size:48px!important}.cv-jumbo{font-size:64px!important}
.cv-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.cv-left-align{text-align:left!important}.cv-right-align{text-align:right!important}
.cv-justify{text-align:justify!important}.cv-center{text-align:center!important}
.cv-display-topleft{position:absolute;left:0;top:0}.cv-display-topright{position:absolute;right:0;top:0}
.cv-display-bottomleft{position:absolute;left:0;bottom:0}.cv-display-bottomright{position:absolute;right:0;bottom:0}
.cv-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.cv-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.cv-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.cv-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.cv-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.cv-display-container:hover .cv-display-hover{display:block}.cv-display-container:hover span.cv-display-hover{display:inline-block}.cv-display-hover{display:none}
.cv-circle{border-radius:50%!important}
.cv-round-small{border-radius:2px!important}.cv-round,.cv-round-medium{border-radius:4px!important}
.cv-round-large{border-radius:8px!important}.cv-round-xlarge{border-radius:16px!important}
.cv-round-xxlarge{border-radius:32px!important}.cv-round-jumbo{border-radius:64px!important}
.cv-border-0{border:0!important}.cv-border{border:1px solid #ccc!important}
.cv-border-top{border-top:1px solid #ccc!important}.cv-border-bottom{border-bottom:1px solid #ccc!important}
.cv-border-left{border-left:1px solid #ccc!important}.cv-border-right{border-right:1px solid #ccc!important}
.cv-margin{margin:16px!important}.cv-margin-0{margin:0!important}
.cv-margin-top{margin-top:16px!important}.cv-margin-bottom{margin-bottom:16px!important}
.cv-margin-left{margin-left:16px!important}.cv-margin-right{margin-right:16px!important}
.cv-section{margin-top:16px!important;margin-bottom:16px!important}
.cv-padding-tiny{padding:2px 4px!important}.cv-padding-small{padding:4px 8px!important}
.cv-padding-medium,.cv-padding,.cv-form{padding:8px 16px!important}
.cv-padding-large{padding:12px 24px!important}.cv-padding-xlarge{padding:16px 32px!important}
.cv-padding-xxlarge{padding:24px 48px!important}.cv-padding-jumbo{padding:32px 64px!important}
.cv-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.cv-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.cv-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.cv-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.cv-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.cv-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.cv-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.cv-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.cv-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.cv-padding-0{padding:0!important}
.cv-padding-top{padding-top:8px!important}.cv-padding-bottom{padding-bottom:8px!important}
.cv-padding-left{padding-left:16px!important}.cv-padding-right{padding-right:16px!important}
.cv-topbar{border-top:6px solid #ccc!important}.cv-bottombar{border-bottom:6px solid #ccc!important}
.cv-leftbar{border-left:6px solid #ccc!important}.cv-rightbar{border-right:6px solid #ccc!important}
.cv-row-padding,.cv-row-padding>.cv-half,.cv-row-padding>.cv-third,.cv-row-padding>.cv-twothird,.cv-row-padding>.cv-threequarter,.cv-row-padding>.cv-quarter,.cv-row-padding>.cv-col{padding:0 8px}
.cv-spin{animation:cv-spin 2s infinite linear;-webkit-animation:cv-spin 2s infinite linear}
@-webkit-keyframes cv-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes cv-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.cv-container{padding:0.01em 16px}
.cv-panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}
.cv-example{background-color:#f1f1f1;padding:0.01em 16px}
.cv-code,.cv-codespan{font-family:Consolas,"courier new";font-size:16px}
.cv-code{line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.cv-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.cv-example,.cv-code{margin:20px 0}.cv-card{border:1px solid #ccc}
.cv-card-2,.cv-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.cv-card-4,.cv-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.cv-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.cv-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.cv-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.cv-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
.cv-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.cv-animate-opacity{-webkit-animation:opac 0.8s;animation:opac 0.8s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.cv-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.cv-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.cv-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.cv-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.cv-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.cv-animate-input{-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out}.cv-animate-input:focus{width:100%!important}
.cv-opacity,.cv-hover-opacity:hover{opacity:0.60;filter:alpha(opacity=60);-webkit-backface-visibility:hidden}
.cv-opacity-off,.cv-hover-opacity-off:hover{opacity:1;filter:alpha(opacity=100);-webkit-backface-visibility:hidden}
.cv-opacity-max{opacity:0.25;filter:alpha(opacity=25);-webkit-backface-visibility:hidden}
.cv-opacity-min{opacity:0.75;filter:alpha(opacity=75);-webkit-backface-visibility:hidden}
.cv-greyscale-max,.cv-grayscale-max,.cv-hover-greyscale:hover,.cv-hover-grayscale:hover{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.cv-greyscale,.cv-grayscale{-webkit-filter:grayscale(75%);filter:grayscale(75%)}
.cv-greyscale-min,.cv-grayscale-min{-webkit-filter:grayscale(50%);filter:grayscale(50%)}
.cv-sepia{-webkit-filter:sepia(75%);filter:sepia(75%)}
.cv-sepia-max,.cv-hover-sepia:hover{-webkit-filter:sepia(100%);filter:sepia(100%)}
.cv-sepia-min{-webkit-filter:sepia(50%);filter:sepia(50%)}
.cv-text-shadow{text-shadow:1px 1px 0 #444}.cv-text-shadow-white{text-shadow:1px 1px 0 #ddd}
.cv-transparent{background-color:transparent!important}
.cv-hover-none:hover{box-shadow:none!important;background-color:transparent!important}
/* Colors */
.cv-amber,.cv-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.cv-aqua,.cv-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.cv-blue,.cv-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.cv-light-blue,.cv-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.cv-brown,.cv-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.cv-cyan,.cv-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.cv-blue-grey,.cv-hover-blue-grey:hover,.cv-blue-gray,.cv-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.cv-green,.cv-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.cv-light-green,.cv-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.cv-indigo,.cv-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.cv-khaki,.cv-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.cv-lime,.cv-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.cv-orange,.cv-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.cv-deep-orange,.cv-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.cv-pink,.cv-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.cv-purple,.cv-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.cv-deep-purple,.cv-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.cv-red,.cv-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.cv-sand,.cv-hover-sand:hover{color:#000!important;background-color:#ffd699!important}
.cv-cv1,.cv-hover-teal:hover{color:#ffd699!important;background-color:#ccccff!important}
.cv-teal,.cv-hover-teal:hover{color:#fff!important;background-color:#330a00!important}
.cv-yellow,.cv-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.cv-white,.cv-hover-white:hover{color:#000!important;background-color:#ebebe0!important}
.cv-black,.cv-hover-black:hover{color:#fff!important;background-color:#000!important}
.cv-grey,.cv-hover-grey:hover,.cv-gray,.cv-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.cv-light-grey,.cv-hover-light-grey:hover,.cv-light-gray,.cv-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.cv-dark-grey,.cv-hover-dark-grey:hover,.cv-dark-gray,.cv-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.cv-pale-red,.cv-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.cv-pale-green,.cv-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.cv-pale-yellow,.cv-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.cv-pale-blue,.cv-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.cv-text-amber,.cv-hover-text-amber:hover{color:#ffc107!important}
.cv-text-aqua,.cv-hover-text-aqua:hover{color:#00ffff!important}
.cv-text-blue,.cv-hover-text-blue:hover{color:#2196F3!important}
.cv-text-light-blue,.cv-hover-text-light-blue:hover{color:#87CEEB!important}
.cv-text-brown,.cv-hover-text-brown:hover{color:#795548!important}
.cv-text-cyan,.cv-hover-text-cyan:hover{color:#00bcd4!important}
.cv-text-blue-grey,.cv-hover-text-blue-grey:hover,.cv-text-blue-gray,.cv-hover-text-blue-gray:hover{color:#607d8b!important}
.cv-text-green,.cv-hover-text-green:hover{color:#4CAF50!important}
.cv-text-light-green,.cv-hover-text-light-green:hover{color:#8bc34a!important}
.cv-text-indigo,.cv-hover-text-indigo:hover{color:#3f51b5!important}
.cv-text-khaki,.cv-hover-text-khaki:hover{color:#b4aa50!important}
.cv-text-lime,.cv-hover-text-lime:hover{color:#cddc39!important}
.cv-text-orange,.cv-hover-text-orange:hover{color:#ff9800!important}
.cv-text-deep-orange,.cv-hover-text-deep-orange:hover{color:#ff5722!important}
.cv-text-pink,.cv-hover-text-pink:hover{color:#e91e63!important}
.cv-text-purple,.cv-hover-text-purple:hover{color:#9c27b0!important}
.cv-text-deep-purple,.cv-hover-text-deep-purple:hover{color:#673ab7!important}
.cv-text-red,.cv-hover-text-red:hover{color:#f44336!important}
.cv-text-sand,.cv-hover-text-sand:hover{color:#fdf5e6!important}
.cv-text-teal,.cv-hover-text-teal:hover{color:#330a00!important}
.cv-text-yellow,.cv-hover-text-yellow:hover{color:#d2be0e!important}
.cv-text-white,.cv-hover-text-white:hover{color:#fff!important}
.cv-text-black,.cv-hover-text-black:hover{color:#000!important}
.cv-text-grey,.cv-hover-text-grey:hover,.cv-text-gray,.cv-hover-text-gray:hover{color:#757575!important}
.cv-text-light-grey,.cv-hover-text-light-grey:hover,.cv-text-light-gray,.cv-hover-text-light-gray:hover{color:#f1f1f1!important}
.cv-text-dark-grey,.cv-hover-text-dark-grey:hover,.cv-text-dark-gray,.cv-hover-text-dark-gray:hover{color:#3a3a3a!important}
.cv-border-amber,.cv-hover-border-amber:hover{border-color:#ffc107!important}
.cv-border-aqua,.cv-hover-border-aqua:hover{border-color:#00ffff!important}
.cv-border-blue,.cv-hover-border-blue:hover{border-color:#2196F3!important}
.cv-border-light-blue,.cv-hover-border-light-blue:hover{border-color:#87CEEB!important}
.cv-border-brown,.cv-hover-border-brown:hover{border-color:#795548!important}
.cv-border-cyan,.cv-hover-border-cyan:hover{border-color:#00bcd4!important}
.cv-border-blue-grey,.cv-hover-border-blue-grey:hover,.cv-border-blue-gray,.cv-hover-border-blue-gray:hover{border-color:#607d8b!important}
.cv-border-green,.cv-hover-border-green:hover{border-color:#4CAF50!important}
.cv-border-light-green,.cv-hover-border-light-green:hover{border-color:#8bc34a!important}
.cv-border-indigo,.cv-hover-border-indigo:hover{border-color:#3f51b5!important}
.cv-border-khaki,.cv-hover-border-khaki:hover{border-color:#f0e68c!important}
.cv-border-lime,.cv-hover-border-lime:hover{border-color:#cddc39!important}
.cv-border-orange,.cv-hover-border-orange:hover{border-color:#ff9800!important}
.cv-border-deep-orange,.cv-hover-border-deep-orange:hover{border-color:#ff5722!important}
.cv-border-pink,.cv-hover-border-pink:hover{border-color:#e91e63!important}
.cv-border-purple,.cv-hover-border-purple:hover{border-color:#9c27b0!important}
.cv-border-deep-purple,.cv-hover-border-deep-purple:hover{border-color:#673ab7!important}
.cv-border-red,.cv-hover-border-red:hover{border-color:#f44336!important}
.cv-border-sand,.cv-hover-border-sand:hover{border-color:#fdf5e6!important}
.cv-border-teal,.cv-hover-border-teal:hover{border-color:#009688!important}
.cv-border-yellow,.cv-hover-border-yellow:hover{border-color:#ffeb3b!important}
.cv-border-white,.cv-hover-border-white:hover{border-color:#fff!important}
.cv-border-black,.cv-hover-border-black:hover{border-color:#000!important}
.cv-border-grey,.cv-hover-border-grey:hover,.cv-border-gray,.cv-hover-border-gray:hover{border-color:#9e9e9e!important}
.cv-border-light-grey,.cv-hover-border-light-grey:hover,.cv-border-light-gray,.cv-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.cv-border-dark-grey,.cv-hover-border-dark-grey:hover,.cv-border-dark-gray,.cv-hover-border-dark-gray:hover{border-color:#616161!important}
.cv-border-pale-red,.cv-hover-border-pale-red:hover{border-color:#ffe7e7!important}.cv-border-pale-green,.cv-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.cv-border-pale-yellow,.cv-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.cv-border-pale-blue,.cv-hover-border-pale-blue:hover{border-color:#e7ffff!important}
